@media screen and (max-width: 1000px) {
    main #content,
    main aside, .container {
        width: 100%;
        padding: 0;
    }
}

/* Responsive di mobile width 321 - 425px  */

@media(min-width:321px) and (max-width:821px) and (max-width: 1000px){
    /* Navbar */
    header nav a {
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
        color: white;
    }    

    h2{
        font-size: 18px;
    }

    p{
        font-size: 14px;
    }

    main {
        padding: 20px;
        overflow: auto;
        width: 100%;
        margin: auto;
    }

    main #banner{
        width: 100%;
    }

    .card-banner {
        margin-top: 10px;
        width: 100%;
        border-radius: 15px;
    }

    main #content {
        float: left;
        width: 100%;
    }

    .post {
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        float: inline-start;
    }

    .card {
        margin-top: 20px;
        padding: 15px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}